@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-message-text antialiased min-h-[100dvh] font-serif leading-relaxed overflow-x-hidden;
        letter-spacing: -0.08em;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
}